{% extends 'public/templates/public_template.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <!-- paginate posts -->
  {% for post in posts.items %}
  <article class="media content-section">
    <img src="{{ url_for('User.static', filename='profile_pics/' + post.author.image_file) }}" class="rounded-circle article-img">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('Post.get', post_id=post.id) }}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  {% endfor %}
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      <!-- check if on current page -->
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      {% endif %} 
    {% else %}  
      ...
    {% endif %}
  {% endfor %}
{% endblock %}